<h1>Menu Item</h1>

<%= cl_image_tag(@menu_item.photo.key, crop: 'scale', width: 200, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) if @menu_item.photo.attached? %>
<p><%= @menu_item.name %></p>
<p><%= @menu_item.description %></p>
<p><%= @menu_item.price %></p>

<% if user_signed_in? && current_user.has_role?(:customer) %>
    <%= form_with model: @order_item do |f| %>
        <%= f.hidden_field :menu_item_id, value: @menu_item.id %>
        <%= f.number_field :quantity, value: 1, in: 1..20 %>
        <%= f.submit 'Add to Order' %>
    <% end %>
<% end %>
<div class="btn-toolbar mt-3">
    <%= link_to 'Edit', edit_menu_item_path(@menu_item), class: 'btn btn-outline-warning me-2' if policy(@menu_item).edit? %>
    <%= button_to('Delete', @menu_item, class: 'btn btn-outline-danger', method: :delete, form: { data: { turbo_confirm: "Do you want to delete '#{@menu_item.name}' from your menu?" } }) if policy(@menu_item).destroy? %>
</div>
<%= link_to 'Back to Menu', menu_path(@menu_item.user.id) %>


