<h1>Menu Item</h1>
<p><%= @menu_item.name %></p>
<p><%= @menu_item.description %></p>
<p><%= @menu_item.price %></p>

<div class="btn-toolbar mt-3">
    <%= link_to 'Edit', edit_menu_item_path(@menu_item), class: 'btn btn-warning me-2' if policy(@menu_item).edit? %>
    <%= button_to('Delete', @menu_item, class: 'btn btn-danger', method: :delete, form: { data: { turbo_confirm: "Do you want to delete '#{@menu_item.name}' from your menu?" } }) if policy(@menu_item).destroy? %>
</div>
<%= link_to 'Back to Menu', menu_path(@menu_item.user.id)%>


