<!DOCTYPE html>
<html>
  <head>
    <title>VegMe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <main class="p-3">
      <% if notice %>
        <p class="alert alert-info" role="notice"><%= notice.html_safe %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" role="alert"><%= alert.html_safe %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
